{% extends 'courses/index.html' %}
{% block content %}
<main class="main">

    <!-- Page Title -->
    <div class="page-title" data-aos="fade">
      <nav class="breadcrumbs">
        <div class="container">
          <ol>
            <li><a href="{% url 'index' %}">Home</a></li>
            <li class="current">Courses</li>
          </ol>
        </div>
      </nav>
    </div><!-- End Page Title -->

    <div class="container wow fadeIn">
        <h2 class="my-5 h2 text-center">Checkout form</h2>
        <div class="row">
          <div class="col-md-8 mb-4">
            <div class="card">
              <form method="POST" class="card-body">
                {% csrf_token %}
  
                
              </form>
  
            </div>
  
          </div>
  
         
        </div>
  
      </div>
  </main>
{% endblock %}